<!-- <div class="page-breadcrumb p-b-20 p-l-30 p-r-30">
  <div class="align-self-center">
      <h4 class="page-title text-themecolor m-0"><p>bar-chart works!</p></h4>
  </div>
</div> -->

<!-- <div *ngFor="let item of get_service"> -->
  <div class="row text-center">
    <div class="col-12">{{gb_cell_code}}&nbsp;{{process_detail}}</div>
  </div>
  <div class="row text-center">
    <div class="col-12">Production Shift: {{production_shift}}</div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="barChartColors">
        </canvas>
    </div>
  </div>
<!-- </div> -->

<!-- <br><br>
<app-bar-chart2></app-bar-chart2>
<br><br>
<app-bar-chart3></app-bar-chart3> -->
