<div class="row f-10">
    <div class="col-4">
        <mat-card class="pd-10">
            <div class="row pt-2">
                <div class="col-5">Date (MM/DD/YY):</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="picker1" [formControl]="date" (dateChange)="addEvent('change', $event)">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">WC :</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-select [formControl]="wcControl" required (selectionChange)="fn_wc($event)">
                            <mat-option>-- Please choose an model --</mat-option>
                            <mat-option *ngFor="let wc of wc" [value]="wc.wc_code">
                                {{wc.wc_detail}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="wcControl.hasError('required')">Please choose an wc</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">Model :</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-select [formControl]="modelControl" required (selectionChange)="fn_model($event)">
                            <mat-option>-- Please choose an model --</mat-option>
                            <mat-option *ngFor="let model of models" [value]="model.model_code">
                                {{model.model_detail}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="modelControl.hasError('required')">Please choose an model</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">Cell Code/PROCESS :</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-select [formControl]="processControl" required (selectionChange)="fn_process($event)">
                            <mat-option>-- Please choose an process --</mat-option>
                            <mat-option *ngFor="let process of process" [value]="process.process_code">
                                {{process.process_detail}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="processControl.hasError('required')">Please choose an process</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">CELL :</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-select [formControl]="cellControl" required (selectionChange)="fn_cell($event)">
                            <mat-option>-- Please choose an cell --</mat-option>
                            <mat-option *ngFor="let cell of cell" [value]="cell.cell_code">
                                {{cell.cell_detail}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="cellControl.hasError('required')">Please choose an cell</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">Block Shift :</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-select [formControl]="blockshiftControl" required (selectionChange)="fn_shift($event)">
                            <mat-option>-- Please choose an block shift --</mat-option>
                            <mat-option *ngFor="let bs of blockshift" [value]="bs.shift_code">
                                {{bs.shift_detail}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="blockshiftControl.hasError('required')">Please choose an cell
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <mat-card class="pd-10">
            <div class="row">
                <div class="col-5">Production Shift :</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-select [formControl]="psControl" required (selectionChange)="fn_ps($event)">
                            <mat-option>-- Please choose an production shift --</mat-option>
                            <mat-option *ngFor="let ps of ps" [value]="ps.value">
                                {{ps.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="psControl.hasError('required')">Please choose an production shift
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">Block Group :</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <!-- disabled="disabled" -->
                        <mat-select [formControl]="block_GControl" required (selectionChange)="fn_block_G($event)" disabled="disabled">
                            <mat-option>-- Please choose an block group --</mat-option>
                            <mat-option *ngFor="let bg of block_G" [value]="bg.block_group_code">
                                {{bg.block_group_code}} : {{bg.block_group_detail}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="block_GControl.hasError('required')">Please choose an block group
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">Gobal Cell Code :</div>
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-select [formControl]="gobal_cellControl" required (selectionChange)="fn_gobal_cell($event)" disabled="disabled">
                            <mat-option>-- Please choose an gobal cell --</mat-option>
                            <mat-option *ngFor="let gc of gobal_cell" [value]="gc.gb_cell_code">
                                {{gc.gb_cell_code}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="gobal_cellControl.hasError('required')">Please choose an gobal cell
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card class="pd-10">
            <div class="row">
                <div class="col-5">Manpower OP:</div>
                <div class="col-7"><input type="text" disabled="disabled" class="form-control {{class_danger}}" [value]="manpower_op"></div>
            </div>
            <div class="row pt-2">
                <div class="col-7 text-danger">Manpower Attendance OP:</div>
                <div class="col-5" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.manpower_attendance" [value]="attendance">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-5">Manpower SP:</div>
                <div class="col-7"><input type="text" disabled="disabled" class="form-control {{class_danger}}" [value]="manpower_sp"></div>
            </div>
            <div class="row pt-2">
                <div class="col-7 text-primary">Manpower Attendance SP:</div>
                <div class="col-5" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.manpower_attendance_sp" [value]="attendance_sp">
                </div>
            </div>
        </mat-card>
        <mat-card class="pd-10">
            <div class="row">
                <div class="col-5">Manpower Base:</div>
                <div class="col-7"><input type="text" disabled="disabled" class="form-control {{class_danger}}" [value]="manpower_base"></div>
            </div>
            <div class="row pt-2">
                <div class="col-7 text-danger">Manpower Absent OP:</div>
                <div class="col-5" *ngFor="let item of get_service_search">
                    <input type="text" class="form-control input-bgcolor" (keyup)="onKeyAbsent($event)" [ngModel]="item.manpower_absent" [value]="absent" #txtAbsent></div>
            </div>
            <div class="row pt-2">
                <div class="col-7 text-primary">Manpower Absent SP:</div>
                <div class="col-5" *ngFor="let item of get_service_search">
                    <input type="text" class="form-control input-bgcolor" (keyup)="onKeyAbsentSP($event)" [ngModel]="item.manpower_absent_sp" [value]="absent_sp" #txtAbsent_sp></div>
            </div>
        </mat-card>
        <mat-card class="pd-10">
            <div class="row">
                <div class="col-7">Extra Work (Mins):</div>
                <div class="col-5" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [value]="v_extrawork">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-7">Job Special (Mins):</div>
                <div class="col-5" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [value]="v_jobspecial">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-7">Total Extra Job (Mins):</div>
                <div class="col-5" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [value]="v_total_extrajob"></div>
            </div>
        </mat-card>
        <mat-card class="pd-10">
            <div class="row">
                <div class="col-5">Actual Output:</div>
                <div class="col-7" *ngFor="let item of getST">
                    <input type="text" disabled="disabled" [ngModel]="item.count_1" [value]="v_actual_output" class="form-control">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-5">Reject Off:</div>
                <div class="col-7" *ngFor="let item of get_service_search">
                    <input type="text" value="1" class="form-control input-bgcolor" [ngModel]="item.reject_off" #txtreject_off></div>
            </div>
        </mat-card>

        <mat-card class="pd-10" *ngFor="let item of get_service_search">
            Comment :
            <textarea name="Text1" cols="40" rows="3" class="form-control input-bgcolor" [ngModel]="item.comment" #txtcomment></textarea>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card class="pd-10">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-3 text-danger">OP</div>
                <div class="col-3 text-primary">OP + SP</div>
            </div>
            <div class="row">
                <div class="col-6 ft-9">Working Time (Mins):</div>
                <div class="col-3"><input type="text" disabled="disabled" value="480" class="form-control" #txtworking_time></div>
            </div>
            <div class="row pt-2">
                <div class="col-6 ft-9">Working Time Total:</div>
                <div class="col-3"><input type="text" disabled="disabled" class="form-control" [value]="working_time_total"></div>
                <div class="col-3"><input type="text" disabled="disabled" class="form-control" [value]="working_time_total_op_sp"></div>
            </div>
            <div class="row pt-2">
                <div class="col-6 ft-9">01 : Overtime (Mins):</div>
                <div class="col-3" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.overtime" [value]="overtime_01_op">
                </div>
                <div class="col-3" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.overtime_op_sp" [value]="overtime_01">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6 ft-9">02 : Emergency Case (Mins):</div>
                <div class="col-3" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.accident" [value]="overtime_02_op">
                </div>
                <div class="col-3" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.accident_op_sp" [value]="overtime_02">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6 ft-9">03 : Manpower Out Flow (Mins):</div>
                <div class="col-3" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.manpower_out_flow" [value]="overtime_03_op">
                </div>
                <div class="col-3" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.manpower_out_flow_op_sp" [value]="overtime_03">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6 ft-9">04 : Manpower In Flow (Mins):</div>
                <div class="col-3" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.manpower_in_flow" [value]="overtime_04_op">
                </div>
                <div class="col-3" *ngFor="let item of get_service_search">
                    <input type="text" disabled="disabled" class="form-control" [ngModel]="item.manpower_in_flow_op_sp" [value]="overtime_04">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6 ft-9">Actual Working Time (Mins):</div>
                <div class="col-3"><input type="text" disabled="disabled" class="form-control" [value]="v_actual"></div>
                <div class="col-3"><input type="text" disabled="disabled" class="form-control" [value]="v_actual_op_sp"></div>
            </div>
            <div class="row pt-2">
                <div class="col-6 ft-9">Detail Working (Mins):</div>
                <div class="col-3"><input type="text" disabled="disabled" class="form-control" [value]="v_detail"></div>
                <div class="col-3"><input type="text" disabled="disabled" class="form-control" [value]="v_detail_op_sp"></div>
            </div>
            <div class="row pt-2">
                <div class="col-6 ft-9">Unknown Time (Mins):</div>
                <div class="col-3"><input type="text" disabled="disabled" class="form-control" [value]="v_unknown"></div>
                <div class="col-3"><input type="text" disabled="disabled" class="form-control" [value]="v_unknown_op_sp"></div>
            </div>
        </mat-card>
        <mat-card class="pd-10 text-danger">
            <div class="row">
                <div class="col-12 text-center">OP</div>
            </div>
            <div class="row">
                <div class="col-7 ft-9">Worker Performance:</div>
                <div class="col-5">
                    <input type="text" disabled="disabled" class="form-control" value="{{ v_worker_performance | number:'1.2-2' }} %">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-7 ft-9">Operation Rate:</div>
                <div class="col-5">
                    <input type="text" disabled="disabled" class="form-control" value="{{ v_operation_rate | number:'1.2-2' }} %"></div>
            </div>
            <div class="row pt-2">
                <div class="col-7 ft-9">Total Performance:</div>
                <div class="col-5">
                    <input type="text" disabled="disabled" class="form-control" value="{{ v_total_performance | number:'1.2-2' }} %"></div>
            </div>
        </mat-card>
        <mat-card class="pd-10 text-primary">
            <div class="row">
                <div class="col-12 text-center">OP + SP</div>
            </div>
            <div class="row">
                <div class="col-7 ft-9">Worker Performance:</div>
                <div class="col-5">
                    <input type="text" disabled="disabled" class="form-control" value="{{ v_worker_performance_op_sp | number:'1.2-2' }} %">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-7 ft-9">Operation Rate:</div>
                <div class="col-5">
                    <input type="text" disabled="disabled" class="form-control" value="{{ v_operation_rate_op_sp | number:'1.2-2' }} %"></div>
            </div>
            <div class="row pt-2">
                <div class="col-7 ft-9">Total Performance:</div>
                <div class="col-5">
                    <input type="text" disabled="disabled" class="form-control" value="{{ v_total_performance_op_sp | number:'1.2-2' }} %"></div>
            </div>
        </mat-card>
    </div>
</div>