<div *ngFor="let item of items">
    <div *ngIf="page == 'WC'">
        <h1 mat-dialog-title>{{ headers }}</h1>
        <input matInput [(ngModel)]="item.id" #txtidwc style="visibility: hidden;">

        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Work Center :</mat-label>
                    <mat-select [formControl]="wcControl" (selectionChange)="selectChang_wc($event)" required>
                        <mat-option>-- Please choose an wc --</mat-option>
                        <mat-option *ngFor="let wcs of wc" [value]="wcs.wc_code" >
                            {{wcs.wc_detail}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wcControl.hasError('required')">Please choose an wc</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Model :</mat-label>
                    <mat-select [formControl]="modelControl" (selectionChange)="selectChang_model($event)" required>
                        <mat-option>-- Please choose an model --</mat-option>
                        <mat-option *ngFor="let model of model" [(value)]="model.model_code" #idmodel>
                            {{model.model_detail}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="modelControl.hasError('required')">Please choose an model</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-8"><button mat-button mat-dialog-close>No Thanks</button></div>
            <div class="col-2">
                <button mat-raised-button class="bg-0f4289" mat-dialog-close
                    (click)="submitWC(button,'WC')">{{ button }}</button>
            </div>
        </div>
    </div>

    <div *ngIf="page == 'Model'">
        <h1 mat-dialog-title>{{ headers }}</h1>
        <input matInput [(ngModel)]="item.id" #txtidmodel style="visibility: hidden;">

        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Model :</mat-label>
                    <mat-select [formControl]="modelControl" (selectionChange)="selectChang_model($event)" required>
                        <mat-option>-- Please choose an model --</mat-option>
                        <mat-option *ngFor="let model of model" [(value)]="model.model_code">
                            {{model.model_detail}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="modelControl.hasError('required')">Please choose an model</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Process :</mat-label>
                    <mat-select [formControl]="processControl" (selectionChange)="selectChang_process($event)" required>
                        <mat-option>-- Please choose an process --</mat-option>
                        <mat-option *ngFor="let pr of process" [(value)]="pr.process_code">
                            {{pr.process_detail}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="processControl.hasError('required')">Please choose an process</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-8"><button mat-button mat-dialog-close>No Thanks</button></div>
            <div class="col-2">
                <button mat-raised-button class="bg-0f4289" mat-dialog-close
                    (click)="submitModel(button,'Model')">{{ button }}</button>
            </div>
        </div>
    </div>

    <div *ngIf="page == 'Process'">
        <h1 mat-dialog-title>{{ headers }}</h1>
        <input matInput [(ngModel)]="item.id" #txtidpro style="visibility: hidden;">

        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Process :</mat-label>
                    <mat-select [formControl]="processControl" (selectionChange)="selectChang_process($event)" required>
                        <mat-option>-- Please choose an process --</mat-option>
                        <mat-option *ngFor="let pr of process" [(value)]="pr.process_code">
                            {{pr.process_detail}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="processControl.hasError('required')">Please choose an process</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Cell :</mat-label>
                    <mat-select [formControl]="cellControl" (selectionChange)="selectChang_cell($event)" required>
                        <mat-option>-- Please choose an cell --</mat-option>
                        <mat-option *ngFor="let cells of cell" [(value)]="cells.cell_code">
                            {{cells.cell_detail}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="cellControl.hasError('required')">Please choose an cell</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-8"><button mat-button mat-dialog-close>No Thanks</button></div>
            <div class="col-2">
                <button mat-raised-button class="bg-0f4289" mat-dialog-close
                    (click)="submitProcess(button,'Process')">{{ button }}</button>
            </div>
        </div>
    </div>

    <div *ngIf="page == 'Cell'">
        <h1 mat-dialog-title>{{ headers }}</h1>
        <input matInput [(ngModel)]="item.id" #txtidcell style="visibility: hidden;">

        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Cell :</mat-label>
                    <mat-select [formControl]="cellControl" (selectionChange)="selectChang_cell($event)" required>
                        <mat-option>-- Please choose an cell --</mat-option>
                        <mat-option *ngFor="let cells of cell" [(value)]="cells.cell_code">
                            {{cells.cell_detail}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="cellControl.hasError('required')">Please choose an cell</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Block shift :</mat-label>
                    <mat-select [formControl]="blockshiftControl" (selectionChange)="selectChang_blockshift($event)"  required>
                        <mat-option>-- Please choose an block shift --</mat-option>
                        <mat-option *ngFor="let bs of blockshift" [(value)]="bs.shift_code">
                            {{bs.shift_detail}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="blockshiftControl.hasError('required')">Please choose an block shift</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-8"><button mat-button mat-dialog-close>No Thanks</button></div>
            <div class="col-2">
                <button mat-raised-button class="bg-0f4289" mat-dialog-close
                    (click)="submitCell(button,'Cell')">{{ button }}</button>
            </div>
        </div>
    </div>


</div>